body {
    margin: 0px;
}

.about {
    font-size: 20px;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
    font-size: 20px;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.contacts {
    font-size: 20px;
    width: 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}